USE [master]
GO
/****** Object:  Database [Fin-Tech]    Script Date: 5/15/2026 5:00:13 PM ******/
CREATE DATABASE [Fin-Tech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fin-Tech', FILENAME = N'E:\.Eng_Ahmed\Data Engineer\.ITI\Fin-Tech.mdf' , SIZE = 794624KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fin-Tech_log', FILENAME = N'E:\.Eng_Ahmed\Data Engineer\.ITI\Fin-Tech_log.ldf' , SIZE = 6299648KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fin-Tech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fin-Tech]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateDTI]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_CalculateDTI]
(
    @Liability DECIMAL(18,2),
    @Income    DECIMAL(18,2)
)
RETURNS DECIMAL(10,4)
AS
BEGIN
    IF @Income IS NULL OR @Income = 0
        RETURN NULL;          -- income unknown → can't compute DTI
    RETURN @Liability / @Income;
END;
GO
/****** Object:  Table [dbo].[Transactions_Header]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions_Header](
	[Trans_ID] [int] IDENTITY(1,1) NOT NULL,
	[Trans_Type] [nvarchar](50) NOT NULL,
	[Trans_Status] [nvarchar](20) NOT NULL,
	[Card_Attempt_ID] [int] NULL,
	[Trans_DateTime] [datetime2](7) NOT NULL,
	[Unix_Time]  AS (datediff_big(second,'1970-01-01',[Trans_DateTime])),
 CONSTRAINT [PK_Transactions_Header] PRIMARY KEY CLUSTERED 
(
	[Trans_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fraud_Assessment]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fraud_Assessment](
	[Assess_ID] [int] IDENTITY(1,1) NOT NULL,
	[Trans_ID] [int] NOT NULL,
	[Total_Score] [decimal](6, 2) NOT NULL,
	[Risk_Level] [nvarchar](10) NOT NULL,
	[ML_Model] [nvarchar](30) NULL,
	[Is_Fraud] [bit] NOT NULL,
	[Assessed_At] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Fraud_Assessment] PRIMARY KEY CLUSTERED 
(
	[Assess_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Assessment_Trans] UNIQUE NONCLUSTERED 
(
	[Trans_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Entry]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Entry](
	[Entry_ID] [int] IDENTITY(1,1) NOT NULL,
	[Trans_ID] [int] NOT NULL,
	[Acc_ID] [int] NOT NULL,
	[Entry_Type] [varchar](6) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Transaction_Entry] PRIMARY KEY CLUSTERED 
(
	[Entry_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions_Audit]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions_Audit](
	[Audit_ID] [int] IDENTITY(1,1) NOT NULL,
	[Trans_ID] [int] NOT NULL,
	[Channel] [nvarchar](20) NOT NULL,
	[Trans_Loc] [geography] NULL,
	[IP_Address] [nvarchar](45) NULL,
	[Device_ID] [nvarchar](100) NULL,
	[Created_At] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Transactions_Audit] PRIMARY KEY CLUSTERED 
(
	[Audit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Audit_Trans] UNIQUE NONCLUSTERED 
(
	[Trans_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Rules]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Rules](
	[Rule_ID] [int] IDENTITY(1,1) NOT NULL,
	[Rule_Name] [nvarchar](100) NOT NULL,
	[Rule_Description] [nvarchar](500) NULL,
	[Rule_Score] [decimal](5, 2) NOT NULL,
	[Threshold] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Transaction_Rules] PRIMARY KEY CLUSTERED 
(
	[Rule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fraud_Alert]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fraud_Alert](
	[Alert_ID] [int] IDENTITY(1,1) NOT NULL,
	[Trans_ID] [int] NOT NULL,
	[Rule_ID] [int] NOT NULL,
	[Alert_Score] [decimal](5, 2) NOT NULL,
	[Triggered_At] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Fraud_Alert] PRIMARY KEY CLUSTERED 
(
	[Alert_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Alert_Trans_Rule] UNIQUE NONCLUSTERED 
(
	[Trans_ID] ASC,
	[Rule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountOwner]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountOwner](
	[Owner_ID] [int] IDENTITY(1,1) NOT NULL,
	[Owner_Type] [varchar](20) NOT NULL,
 CONSTRAINT [PK_AccountOwner] PRIMARY KEY CLUSTERED 
(
	[Owner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchants]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchants](
	[Owner_ID] [int] NOT NULL,
	[Merchant_Name] [nvarchar](200) NULL,
	[Category] [nvarchar](100) NULL,
	[merch_lat] [decimal](9, 6) NULL,
	[merch_long] [decimal](9, 6) NULL,
 CONSTRAINT [PK_Merchant] PRIMARY KEY CLUSTERED 
(
	[Owner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Acc_ID] [int] IDENTITY(1,1) NOT NULL,
	[Owner_ID] [int] NOT NULL,
	[Acc_Type] [nvarchar](50) NOT NULL,
	[Currency] [nchar](3) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Acc_status] [nvarchar](20) NOT NULL,
	[Created_At] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Acc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[Card_ID] [int] IDENTITY(1,1) NOT NULL,
	[Acc_ID] [int] NOT NULL,
	[Card_Number] [nvarchar](16) NOT NULL,
	[CVV] [nchar](3) NOT NULL,
	[Expiry_Date] [date] NOT NULL,
	[Card_Type] [nvarchar](10) NOT NULL,
	[Is_Blocked] [bit] NOT NULL,
	[Credit_Limit] [decimal](18, 2) NULL,
	[Available_Limit] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[Card_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Card_Number] UNIQUE NONCLUSTERED 
(
	[Card_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card_Attempt]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card_Attempt](
	[Attempt_ID] [int] IDENTITY(1,1) NOT NULL,
	[Card_ID] [int] NOT NULL,
	[Attempt_Time] [datetime2](7) NOT NULL,
	[Is_Success] [bit] NOT NULL,
	[ATM_ID] [nvarchar](50) NULL,
	[Location_Lat] [decimal](9, 6) NULL,
	[Location_Lon] [decimal](9, 6) NULL,
 CONSTRAINT [PK_Card_Attempt] PRIMARY KEY CLUSTERED 
(
	[Attempt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Owner_ID] [int] IDENTITY(1000,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[Gender] [varchar](1) NULL,
	[National_ID] [nvarchar](14) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](11) NULL,
	[Education_Level] [nvarchar](50) NULL,
	[Device_ID] [nvarchar](50) NULL,
	[Cust_Loc_lat] [decimal](9, 6) NULL,
	[Cust_Loc_lon] [decimal](9, 6) NULL,
	[Street] [nvarchar](50) NULL,
	[City] [nvarchar](25) NULL,
	[State] [nvarchar](10) NULL,
	[Zip] [nvarchar](10) NULL,
	[Family_Members] [tinyint] NULL,
	[Family_Status] [varchar](15) NULL,
	[Home_Ownership] [varchar](15) NULL,
	[FLAG_OWN_CAR] [varchar](1) NULL,
	[Monthly_Income] [decimal](18, 2) NULL,
	[Monthly_Liability] [decimal](18, 2) NULL,
	[Job_Title] [nvarchar](max) NULL,
	[Employment_Status] [nvarchar](50) NULL,
	[Year_Of_Experience] [tinyint] NULL,
	[Employer_Name] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[Last_Updated] [date] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Owner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customer_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customer_National_ID] UNIQUE NONCLUSTERED 
(
	[National_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_FraudFeatures]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_FraudFeatures] AS
SELECT

    -- ── Identity ────────────────────────────────────────────────────────────
    th.Trans_ID,
    th.Trans_DateTime,
    th.Trans_Type,
    th.Trans_Status,

    -- ── Transaction amount features ─────────────────────────────────────────
    te_debit.Amount                                         AS Trans_Amount,
    acc.Balance                                             AS Account_Balance_At_Txn,
    CASE 
        WHEN acc.Balance > 0 
        THEN te_debit.Amount / acc.Balance 
        ELSE NULL 
    END                                                     AS Amount_To_Balance_Ratio,

    -- ── Card features ────────────────────────────────────────────────────────
    c.Card_Type,
    c.Credit_Limit,
    c.Available_Limit,
    CASE 
        WHEN c.Credit_Limit > 0 
        THEN (c.Credit_Limit - c.Available_Limit) / c.Credit_Limit 
        ELSE NULL 
    END                                                     AS Card_Utilization_Rate,
    DATEDIFF(DAY, GETDATE(), c.Expiry_Date)                 AS Days_Until_Expiry,

    -- ── Audit / channel features ─────────────────────────────────────────────
    ta.Channel,
    ta.IP_Address,
    -- ── Failed card attempts in last 24 hrs ──────────────────────────────────
    ISNULL(fail_att.Failed_Attempts_24H, 0)                 AS Failed_Attempts_24H,

    -- ── Previous fraud label (for supervised training) ───────────────────────
    ISNULL(fra.Is_Fraud, -1)                                AS Is_Fraud   -- -1 = unlabelled
FROM Transactions_Header th

-- Debit leg (customer side)
JOIN Transaction_Entry   te_debit ON te_debit.Trans_ID   = th.Trans_ID
                                  AND te_debit.Entry_Type = 'Debit'

-- Account & card
JOIN Account             acc      ON acc.Acc_ID           = te_debit.Acc_ID
JOIN Card                c        ON c.Acc_ID             = acc.Acc_ID and c.Is_Blocked=0
JOIN AccountOwner        ao       ON ao.Owner_ID          = acc.Owner_ID
JOIN Customer            cust     ON cust.Owner_ID        = ao.Owner_ID
                                  AND ao.Owner_Type       = 'Customer'

-- Card attempt (if card-based; NULL-safe for login-based purchases)
LEFT JOIN Card_Attempt   ca       ON ca.Attempt_ID        = th.Card_Attempt_ID

-- Merchant (credit leg)
LEFT JOIN Transaction_Entry te_cr ON te_cr.Trans_ID       = th.Trans_ID
                                  AND te_cr.Entry_Type    = 'Credit'
LEFT JOIN Account        m_acc    ON m_acc.Acc_ID         = te_cr.Acc_ID
LEFT JOIN AccountOwner   mao      ON mao.Owner_ID         = m_acc.Owner_ID
                                  AND mao.Owner_Type      = 'Merchant'
LEFT JOIN Merchants      m        ON m.Owner_ID           = mao.Owner_ID

-- Audit
LEFT JOIN Transactions_Audit ta   ON ta.Trans_ID          = th.Trans_ID

-- Fraud alert & rule
LEFT JOIN Fraud_Alert    fa       ON fa.Trans_ID          = th.Trans_ID
LEFT JOIN Transaction_Rules tr    ON tr.Rule_ID           = fa.Rule_ID

-- Previous fraud assessment label
LEFT JOIN Fraud_Assessment fra    ON fra.Trans_ID         = th.Trans_ID

-- ── Velocity subquery ─────────────────────────────────────────────────────
LEFT JOIN (
    SELECT
        te2.Acc_ID,
        th2.Trans_DateTime                                  AS Ref_Time
    FROM Transactions_Header th2
    JOIN Transaction_Entry   te2 ON te2.Trans_ID   = th2.Trans_ID
                                 AND te2.Entry_Type = 'Debit'
    WHERE th2.Trans_DateTime >= DATEADD(HOUR, -24, GETDATE())
    GROUP BY te2.Acc_ID, th2.Trans_DateTime
) vel ON vel.Acc_ID = te_debit.Acc_ID
      AND vel.Ref_Time = th.Trans_DateTime

-- ── Failed attempts subquery ──────────────────────────────────────────────
LEFT JOIN (
    SELECT
        Card_ID,
        COUNT(*) AS Failed_Attempts_24H
    FROM Card_Attempt
    WHERE  Attempt_Time >= DATEADD(HOUR, -24, GETDATE())
    GROUP BY Card_ID
) fail_att ON fail_att.Card_ID = c.Card_ID;
GO
/****** Object:  Table [dbo].[Re_Payment_Schedule]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Re_Payment_Schedule](
	[Schedule_ID] [int] IDENTITY(1,1) NOT NULL,
	[Contract_ID] [int] NOT NULL,
	[Due_Date] [date] NOT NULL,
	[Principal_Amount] [decimal](18, 2) NOT NULL,
	[Interest_Amount] [decimal](18, 2) NOT NULL,
	[install_status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Re_Payment_Schedule] PRIMARY KEY CLUSTERED 
(
	[Schedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Application]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Application](
	[App_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Assessment_ID] [int] NULL,
	[Requested_Amount] [decimal](18, 2) NOT NULL,
	[No_Of_Months] [smallint] NOT NULL,
	[App_status] [nvarchar](30) NOT NULL,
	[Created_At] [datetime] NOT NULL,
 CONSTRAINT [PK_Loan_Application] PRIMARY KEY CLUSTERED 
(
	[App_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Contract]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Contract](
	[Contract_ID] [int] IDENTITY(1,1) NOT NULL,
	[App_ID] [int] NOT NULL,
	[Acc_ID] [int] NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Approved_Amount] [decimal](18, 2) NOT NULL,
	[contract_status] [nvarchar](30) NOT NULL,
	[interest_rate] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Loan_Contract] PRIMARY KEY CLUSTERED 
(
	[Contract_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Contract_Application] UNIQUE NONCLUSTERED 
(
	[App_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financial_History]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financial_History](
	[History_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Late_Payment_Count] [int] NULL,
	[Missed_Payment_Count] [int] NULL,
	[Avg_Payment_Delay_Days] [decimal](6, 2) NULL,
	[Last_Update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Financial_History] PRIMARY KEY CLUSTERED 
(
	[History_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FinHistory_Customer] UNIQUE NONCLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Risk_Assessment]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Risk_Assessment](
	[Assess_ID] [int] IDENTITY(1,1) NOT NULL,
	[Total_Score] [decimal](5, 2) NOT NULL,
	[Assessed_At] [datetime2](7) NOT NULL,
	[ML_Model] [nvarchar](20) NULL,
 CONSTRAINT [PK_Risk_Assessment] PRIMARY KEY CLUSTERED 
(
	[Assess_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LoanRiskFeatures]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_LoanRiskFeatures] AS
SELECT

    -- ── Identity ─────────────────────────────────────────────────────────────
    la.App_ID,
    la.Customer_ID,
    la.App_status,
    la.Created_At                                           AS Application_Date,

    -- ── Loan request features ─────────────────────────────────────────────────
    la.Requested_Amount,
    la.No_Of_Months                                         AS Loan_Term_Months,
    la.Requested_Amount / NULLIF(la.No_Of_Months, 0)       AS Monthly_Installment_Est,

    -- ── Customer demographics ─────────────────────────────────────────────────
    cust.Gender,
    cust.Education_Level,
    cust.Family_Members,
    cust.Family_Status,
    cust.Home_Ownership,

    -- ── Account health ────────────────────────────────────────────────────────
    acc.Balance                                             AS Current_Balance,
    acc.Acc_Type,

    -- ── Debt-to-income proxy: total active loan obligations ───────────────────
    CASE 
        WHEN acc.Balance > 0 
        THEN ISNULL(debt.Total_Active_Debt, 0) / acc.Balance 
        ELSE NULL 
    END                                                     AS Debt_To_Balance_Ratio,

    -- ── Payment behavior (from Financial_History) ─────────────────────────────
    fh.Late_Payment_Count,
    fh.Missed_Payment_Count,
    fh.Avg_Payment_Delay_Days,
    -- ── Previous risk assessment result ──────────────────────────────────────
    ra.Total_Score                                          AS Previous_Risk_Score,
    
    -- ── Target label (for supervised training) ────────────────────────────────
    -- Map App_status to binary: Approved=0 (low risk), Rejected=1 (high risk)
    CASE 
        WHEN la.App_status = 'Approved'  THEN 0
        WHEN la.App_status = 'Rejected'  THEN 1
        ELSE NULL   -- Pending = unlabelled
    END                                                     AS Risk_Label

FROM Loan_Application la

-- Customer profile
JOIN Customer           cust  ON cust.Owner_ID   = la.Customer_ID

-- Primary active account
JOIN Account            acc   ON acc.Owner_ID    = la.Customer_ID
                              AND acc.Acc_status  = 'Active'

-- Financial history
LEFT JOIN Financial_History fh ON fh.Customer_ID = la.Customer_ID

-- Latest risk assessment for this application
LEFT JOIN Risk_Assessment   ra ON ra.Assess_ID   = (
    SELECT TOP 1 Assess_ID
    FROM Risk_Assessment
    WHERE  -- Risk_Assessment links to Customer via Loan_Application
           Assess_ID IN (
               SELECT Assessment_ID FROM Loan_Application
               WHERE  Customer_ID = la.Customer_ID
           )
    ORDER BY Assessed_At DESC
)

-- ── Active debt load subquery ─────────────────────────────────────────────
LEFT JOIN (
    SELECT
        lc.App_ID,
        SUM(lc.Approved_Amount)  AS Total_Active_Debt,
        COUNT(*)                 AS Active_Loan_Count
    FROM Loan_Contract lc
    WHERE lc.contract_status = 'Active'
    GROUP BY lc.App_ID
) debt ON debt.App_ID = la.App_ID

-- ── Upcoming repayments subquery ──────────────────────────────────────────
LEFT JOIN (
    SELECT
        rps.Contract_ID,
        COUNT(*)            AS Upcoming_Installments,
        SUM(rps.Principal_Amount + rps.Interest_Amount) AS Total_Due_Next30Days
    FROM Re_Payment_Schedule rps
    WHERE rps.install_status = 'Pending'
      AND rps.Due_Date BETWEEN GETDATE() AND DATEADD(DAY, 30, GETDATE())
    GROUP BY rps.Contract_ID
) sched ON sched.Contract_ID IN (
    SELECT Contract_ID FROM Loan_Contract WHERE App_ID = la.App_ID
);
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Owner_ID] [int] NOT NULL,
	[Bank_Name] [nvarchar](200) NOT NULL,
	[Country] [nvarchar](100) NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Owner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_Attempt]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Attempt](
	[Attempt_ID] [int] IDENTITY(1,1) NOT NULL,
	[login_ID] [int] NOT NULL,
	[Attempt_Time] [datetime2](7) NOT NULL,
	[Is_Success] [bit] NOT NULL,
	[Device_ID] [nvarchar](100) NULL,
 CONSTRAINT [PK_Login_Attempt] PRIMARY KEY CLUSTERED 
(
	[Attempt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Login]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Login](
	[login_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password_Hash] [nvarchar](256) NOT NULL,
	[Last_Login] [datetime2](7) NULL,
	[Is_Active] [bit] NOT NULL,
	[Created_At] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_User_Login] PRIMARY KEY CLUSTERED 
(
	[login_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserLogin_Customer] UNIQUE NONCLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('Savings') FOR [Acc_Type]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('Pending_Verification') FOR [Acc_status]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Card] ADD  DEFAULT ('Debit') FOR [Card_Type]
GO
ALTER TABLE [dbo].[Card] ADD  DEFAULT ((0)) FOR [Is_Blocked]
GO
ALTER TABLE [dbo].[Card_Attempt] ADD  DEFAULT (getdate()) FOR [Attempt_Time]
GO
ALTER TABLE [dbo].[Card_Attempt] ADD  DEFAULT ((0)) FOR [Is_Success]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF__Customer__Last_U__5165187F]  DEFAULT (getdate()) FOR [Last_Updated]
GO
ALTER TABLE [dbo].[Financial_History] ADD  CONSTRAINT [DF__Financial__Late___2EDAF651]  DEFAULT ((0)) FOR [Late_Payment_Count]
GO
ALTER TABLE [dbo].[Financial_History] ADD  CONSTRAINT [DF__Financial__Misse__2FCF1A8A]  DEFAULT ((0)) FOR [Missed_Payment_Count]
GO
ALTER TABLE [dbo].[Financial_History] ADD  CONSTRAINT [DF__Financial__Avg_P__30C33EC3]  DEFAULT ((0.00)) FOR [Avg_Payment_Delay_Days]
GO
ALTER TABLE [dbo].[Financial_History] ADD  CONSTRAINT [DF__Financial__Last___31B762FC]  DEFAULT (getdate()) FOR [Last_Update]
GO
ALTER TABLE [dbo].[Fraud_Alert] ADD  DEFAULT (getdate()) FOR [Triggered_At]
GO
ALTER TABLE [dbo].[Fraud_Assessment] ADD  CONSTRAINT [DF__Fraud_Ass__Is_Fr__29221CFB]  DEFAULT ((0)) FOR [Is_Fraud]
GO
ALTER TABLE [dbo].[Fraud_Assessment] ADD  CONSTRAINT [DF__Fraud_Ass__Asses__2A164134]  DEFAULT (getdate()) FOR [Assessed_At]
GO
ALTER TABLE [dbo].[Loan_Application] ADD  CONSTRAINT [DF__Loan_Appl__App_s__7A672E12]  DEFAULT ('Pending') FOR [App_status]
GO
ALTER TABLE [dbo].[Loan_Application] ADD  CONSTRAINT [DF__Loan_Appl__Creat__7C4F7684]  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Loan_Contract] ADD  CONSTRAINT [DF__Loan_Cont__contr__02084FDA]  DEFAULT ('Active') FOR [contract_status]
GO
ALTER TABLE [dbo].[Login_Attempt] ADD  DEFAULT (getdate()) FOR [Attempt_Time]
GO
ALTER TABLE [dbo].[Login_Attempt] ADD  DEFAULT ((0)) FOR [Is_Success]
GO
ALTER TABLE [dbo].[Re_Payment_Schedule] ADD  DEFAULT ('Upcoming') FOR [install_status]
GO
ALTER TABLE [dbo].[Risk_Assessment] ADD  DEFAULT (getdate()) FOR [Assessed_At]
GO
ALTER TABLE [dbo].[Transactions_Audit] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Transactions_Header] ADD  DEFAULT ('Pending') FOR [Trans_Status]
GO
ALTER TABLE [dbo].[Transactions_Header] ADD  DEFAULT (getdate()) FOR [Trans_DateTime]
GO
ALTER TABLE [dbo].[User_Login] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[User_Login] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountOwner] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[AccountOwner] ([Owner_ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccountOwner]
GO
ALTER TABLE [dbo].[Bank]  WITH CHECK ADD  CONSTRAINT [FK_Bank_Owner] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[AccountOwner] ([Owner_ID])
GO
ALTER TABLE [dbo].[Bank] CHECK CONSTRAINT [FK_Bank_Owner]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_Account] FOREIGN KEY([Acc_ID])
REFERENCES [dbo].[Account] ([Acc_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_Account]
GO
ALTER TABLE [dbo].[Card_Attempt]  WITH CHECK ADD  CONSTRAINT [FK_CardAttempt_Card] FOREIGN KEY([Card_ID])
REFERENCES [dbo].[Card] ([Card_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Card_Attempt] CHECK CONSTRAINT [FK_CardAttempt_Card]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_AccountOwner] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[AccountOwner] ([Owner_ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_AccountOwner]
GO
ALTER TABLE [dbo].[Financial_History]  WITH CHECK ADD  CONSTRAINT [FK_Financial_History_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Owner_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Financial_History] CHECK CONSTRAINT [FK_Financial_History_Customer]
GO
ALTER TABLE [dbo].[Fraud_Alert]  WITH CHECK ADD  CONSTRAINT [FK_Alert_Header] FOREIGN KEY([Trans_ID])
REFERENCES [dbo].[Transactions_Header] ([Trans_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fraud_Alert] CHECK CONSTRAINT [FK_Alert_Header]
GO
ALTER TABLE [dbo].[Fraud_Alert]  WITH CHECK ADD  CONSTRAINT [FK_Alert_Rule] FOREIGN KEY([Rule_ID])
REFERENCES [dbo].[Transaction_Rules] ([Rule_ID])
GO
ALTER TABLE [dbo].[Fraud_Alert] CHECK CONSTRAINT [FK_Alert_Rule]
GO
ALTER TABLE [dbo].[Fraud_Assessment]  WITH CHECK ADD  CONSTRAINT [FK_Assessment_Header] FOREIGN KEY([Trans_ID])
REFERENCES [dbo].[Transactions_Header] ([Trans_ID])
GO
ALTER TABLE [dbo].[Fraud_Assessment] CHECK CONSTRAINT [FK_Assessment_Header]
GO
ALTER TABLE [dbo].[Loan_Application]  WITH CHECK ADD  CONSTRAINT [FK_LoanApp_RiskAssessment] FOREIGN KEY([Assessment_ID])
REFERENCES [dbo].[Risk_Assessment] ([Assess_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Loan_Application] CHECK CONSTRAINT [FK_LoanApp_RiskAssessment]
GO
ALTER TABLE [dbo].[Loan_Contract]  WITH CHECK ADD  CONSTRAINT [FK_LoanContract_Account] FOREIGN KEY([Acc_ID])
REFERENCES [dbo].[Account] ([Acc_ID])
GO
ALTER TABLE [dbo].[Loan_Contract] CHECK CONSTRAINT [FK_LoanContract_Account]
GO
ALTER TABLE [dbo].[Loan_Contract]  WITH CHECK ADD  CONSTRAINT [FK_LoanContract_Application] FOREIGN KEY([App_ID])
REFERENCES [dbo].[Loan_Application] ([App_ID])
GO
ALTER TABLE [dbo].[Loan_Contract] CHECK CONSTRAINT [FK_LoanContract_Application]
GO
ALTER TABLE [dbo].[Login_Attempt]  WITH CHECK ADD  CONSTRAINT [FK_LoginAttempt_UserLogin] FOREIGN KEY([login_ID])
REFERENCES [dbo].[User_Login] ([login_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Login_Attempt] CHECK CONSTRAINT [FK_LoginAttempt_UserLogin]
GO
ALTER TABLE [dbo].[Merchants]  WITH CHECK ADD  CONSTRAINT [FK_Merchant_Owner] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[AccountOwner] ([Owner_ID])
GO
ALTER TABLE [dbo].[Merchants] CHECK CONSTRAINT [FK_Merchant_Owner]
GO
ALTER TABLE [dbo].[Re_Payment_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Re_Payment_Schedule_Loan_Contract] FOREIGN KEY([Contract_ID])
REFERENCES [dbo].[Loan_Contract] ([Contract_ID])
GO
ALTER TABLE [dbo].[Re_Payment_Schedule] CHECK CONSTRAINT [FK_Re_Payment_Schedule_Loan_Contract]
GO
ALTER TABLE [dbo].[Transaction_Entry]  WITH CHECK ADD  CONSTRAINT [FK_Entry_Account] FOREIGN KEY([Acc_ID])
REFERENCES [dbo].[Account] ([Acc_ID])
GO
ALTER TABLE [dbo].[Transaction_Entry] CHECK CONSTRAINT [FK_Entry_Account]
GO
ALTER TABLE [dbo].[Transaction_Entry]  WITH CHECK ADD  CONSTRAINT [FK_Entry_Header] FOREIGN KEY([Trans_ID])
REFERENCES [dbo].[Transactions_Header] ([Trans_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction_Entry] CHECK CONSTRAINT [FK_Entry_Header]
GO
ALTER TABLE [dbo].[Transactions_Audit]  WITH CHECK ADD  CONSTRAINT [FK_Audit_Header] FOREIGN KEY([Trans_ID])
REFERENCES [dbo].[Transactions_Header] ([Trans_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions_Audit] CHECK CONSTRAINT [FK_Audit_Header]
GO
ALTER TABLE [dbo].[Transactions_Header]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_CardAttempt] FOREIGN KEY([Card_Attempt_ID])
REFERENCES [dbo].[Card_Attempt] ([Attempt_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions_Header] CHECK CONSTRAINT [FK_Transaction_CardAttempt]
GO
ALTER TABLE [dbo].[User_Login]  WITH CHECK ADD  CONSTRAINT [FK_User_Login_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Owner_ID])
GO
ALTER TABLE [dbo].[User_Login] CHECK CONSTRAINT [FK_User_Login_Customer]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([Acc_status]='Suspended' OR [Acc_status]='Closed' OR [Acc_status]='Frozen' OR [Acc_status]='Under_Review' OR [Acc_status]='Pending_Verification' OR [Acc_status]='Active'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([Acc_Type]='Wallet' OR [Acc_Type]='Credit' OR [Acc_Type]='Savings' OR [Acc_Type]='Business'))
GO
ALTER TABLE [dbo].[AccountOwner]  WITH CHECK ADD  CONSTRAINT [CHK_AccountOwner_Type] CHECK  (([Owner_Type]='Bank' OR [Owner_Type]='Merchant' OR [Owner_Type]='Customer'))
GO
ALTER TABLE [dbo].[AccountOwner] CHECK CONSTRAINT [CHK_AccountOwner_Type]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD CHECK  (([Card_Type]='Credit' OR [Card_Type]='Debit'))
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK__Customer__Employ__5070F446] CHECK  (([Employment_Status]='Student' OR [Employment_Status]='Retired' OR [Employment_Status]='Unemployed' OR [Employment_Status]='Self-Employed' OR [Employment_Status]='Part-Time' OR [Employment_Status]='Full-Time'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK__Customer__Employ__5070F446]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK__Customer__Home_O__4F7CD00D] CHECK  (([Home_Ownership]='Provided by Emp' OR [Home_Ownership]='Living with Parents' OR [Home_Ownership]='Rented' OR [Home_Ownership]='Owned'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK__Customer__Home_O__4F7CD00D]
GO
ALTER TABLE [dbo].[Fraud_Assessment]  WITH CHECK ADD  CONSTRAINT [CHK_Risk_Level] CHECK  (([Risk_Level]='CRITICAL' OR [Risk_Level]='HIGH' OR [Risk_Level]='MEDIUM' OR [Risk_Level]='LOW'))
GO
ALTER TABLE [dbo].[Fraud_Assessment] CHECK CONSTRAINT [CHK_Risk_Level]
GO
ALTER TABLE [dbo].[Loan_Application]  WITH CHECK ADD  CONSTRAINT [CK__Loan_Appl__App_s__7B5B524B] CHECK  (([App_status]='Rejected' OR [App_status]='Approved' OR [App_status]='Pending'))
GO
ALTER TABLE [dbo].[Loan_Application] CHECK CONSTRAINT [CK__Loan_Appl__App_s__7B5B524B]
GO
ALTER TABLE [dbo].[Loan_Contract]  WITH CHECK ADD  CONSTRAINT [CK__Loan_Cont__contr__02FC7413] CHECK  (([contract_status]='Defaulted' OR [contract_status]='Fully Paid' OR [contract_status]='Active'))
GO
ALTER TABLE [dbo].[Loan_Contract] CHECK CONSTRAINT [CK__Loan_Cont__contr__02FC7413]
GO
ALTER TABLE [dbo].[Re_Payment_Schedule]  WITH CHECK ADD CHECK  (([install_status]='Overdue' OR [install_status]='Paid' OR [install_status]='Upcoming'))
GO
ALTER TABLE [dbo].[Transaction_Entry]  WITH CHECK ADD  CONSTRAINT [CHK_Entry_Amount_Positive] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Transaction_Entry] CHECK CONSTRAINT [CHK_Entry_Amount_Positive]
GO
ALTER TABLE [dbo].[Transaction_Entry]  WITH CHECK ADD CHECK  (([Entry_Type]='CREDIT' OR [Entry_Type]='DEBIT'))
GO
ALTER TABLE [dbo].[Transactions_Audit]  WITH CHECK ADD  CONSTRAINT [CHK_Audit_Channel] CHECK  (([Channel]='API' OR [Channel]='WEB' OR [Channel]='POS' OR [Channel]='APP' OR [Channel]='ATM'))
GO
ALTER TABLE [dbo].[Transactions_Audit] CHECK CONSTRAINT [CHK_Audit_Channel]
GO
ALTER TABLE [dbo].[Transactions_Header]  WITH CHECK ADD CHECK  (([Trans_Type]='TRANSFER' OR [Trans_Type]='PURCHASE' OR [Trans_Type]='WITHDRAWAL' OR [Trans_Type]='DEPOSIT'))
GO
ALTER TABLE [dbo].[Transactions_Header]  WITH CHECK ADD CHECK  (([Trans_Status]='Reversed' OR [Trans_Status]='Failed' OR [Trans_Status]='Completed' OR [Trans_Status]='Pending'))
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveLoan]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ApproveLoan]
    @AppID  INT,
    @AccID  INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE
        @CustomerID        INT,
        @AssessID          INT,
        @RiskScore         DECIMAL(5,2),
        @RequestedAmount   DECIMAL(18,2),
        @NoOfMonths        SMALLINT,
        @ContractID        INT,
        @TransID           INT,
        @StartDate         DATE,          
        @EndDate           DATE,
        @MonthlyRate       DECIMAL(10,6),
        @PrincipalPerMonth DECIMAL(18,2),
        @InterestPerMonth  DECIMAL(18,2),
        @Month             SMALLINT;

    BEGIN TRANSACTION;
    BEGIN TRY

        -- ── 1. Validate application is Approved and not yet contracted ────────
        SELECT
            @CustomerID      = LA.Customer_ID,
            @AssessID        = LA.Assessment_ID,
            @RequestedAmount = LA.Requested_Amount,
            @NoOfMonths      = LA.No_Of_Months,
            @StartDate       = CAST(LA.Created_At AS DATE)   -- ← from application date
        FROM Loan_Application LA
        WHERE LA.App_ID     = @AppID
          AND LA.App_status = 'Approved';

        IF @RequestedAmount IS NULL
            RAISERROR('Application not found or not in Approved status.', 16, 1);

        IF EXISTS (SELECT 1 FROM Loan_Contract WHERE App_ID = @AppID)
            RAISERROR('A contract already exists for this application.', 16, 1);

        -- ── 2. Validate disbursement account is active ────────────────────────
        IF NOT EXISTS (
            SELECT 1 FROM Account
            WHERE Acc_ID = @AccID AND Acc_status = 'Active'
        )
            RAISERROR('Disbursement account not found or inactive.', 16, 1);

        -- ── 3. Derive interest rate from Risk_Assessment score ────────────────
        SELECT @RiskScore = Total_Score
        FROM   Risk_Assessment
        WHERE  Assess_ID = @AssessID;

        SET @MonthlyRate =
            CASE
                WHEN @RiskScore >= 85 THEN 0.005    --  6.0% annual
                WHEN @RiskScore >= 70 THEN 0.007    --  8.4% annual
                WHEN @RiskScore >= 60 THEN 0.009    -- 10.8% annual
                ELSE                       0.012    -- 14.4% annual
            END;

        SET @PrincipalPerMonth = ROUND(@RequestedAmount / @NoOfMonths, 2);
        SET @InterestPerMonth  = ROUND(@RequestedAmount * @MonthlyRate, 2);
        SET @EndDate           = CAST(DATEADD(MONTH, @NoOfMonths, @StartDate) AS DATE);

        -- ── 4. Create Loan_Contract ───────────────────────────────────────────
        INSERT INTO Loan_Contract
            (App_ID, Acc_ID, Start_Date, End_Date, Approved_Amount, contract_status, interest_rate)
        VALUES
            (@AppID, @AccID, @StartDate, @EndDate, @RequestedAmount, 'Active', @MonthlyRate * 100 * 12);

        SET @ContractID = SCOPE_IDENTITY();

        -- ── 5. Generate Re_Payment_Schedule ──────────────────────────────────
        SET @Month = 1;
        WHILE @Month <= @NoOfMonths
        BEGIN
            INSERT INTO Re_Payment_Schedule
                (Contract_ID, Due_Date, Principal_Amount, Interest_Amount, install_status)
            VALUES
            (
                @ContractID,
                CAST(DATEADD(MONTH, @Month, @StartDate) AS DATE),
                CASE
                    WHEN @Month = @NoOfMonths
                    THEN @RequestedAmount - (@PrincipalPerMonth * (@NoOfMonths - 1))
                    ELSE @PrincipalPerMonth
                END,
                @InterestPerMonth,
                'Upcoming'
            );
            SET @Month += 1;
        END;

        -- ── 6. Disburse funds ─────────────────────────────────────────────────
        INSERT INTO Transactions_Header (Trans_Type, Trans_Status, Card_Attempt_ID)
        VALUES                          ('DEPOSIT',  'Completed',  NULL);

        SET @TransID = SCOPE_IDENTITY();

        INSERT INTO Transaction_Entry (Trans_ID, Acc_ID, Entry_Type, Amount)
        VALUES                        (@TransID, @AccID, 'CREDIT',   @RequestedAmount);

        INSERT INTO Transactions_Audit (Trans_ID, Channel, IP_Address, Device_ID)
        VALUES                         (@TransID, 'API',   NULL,       NULL);

        UPDATE Account
        SET    Balance = Balance + @RequestedAmount
        WHERE  Acc_ID  = @AccID;

        -- ── 7. Confirm App_status = 'Approved' ────────────────────────────────
        UPDATE Loan_Application
        SET    App_status = 'Approved'
        WHERE  App_ID     = @AppID;

        COMMIT TRANSACTION;
        PRINT CONCAT('Loan approved. Contract_ID: ', @ContractID,
                     ' | Installments created: ', @NoOfMonths,
                     ' | Start Date: ', CAST(@StartDate AS NVARCHAR(20)),
                     ' | Monthly repayment: ',
                     CAST(@PrincipalPerMonth + @InterestPerMonth AS NVARCHAR(20)));
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateFraudScore]    Script Date: 5/15/2026 5:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ══════════════════════════════════════════════════════════════════
-- STEP 3 — PROCEDURE  sp_CalculateFraudScore
-- Sums Alert_Score for all Fraud_Alert rows for this transaction,assigns a Risk_Level, and writes one Fraud_Assessment row.
-- ══════════════════════════════════════════════════════════════════
CREATE   PROCEDURE [dbo].[sp_CalculateFraudScore]
    @TransID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @TotalScore DECIMAL(6,2),
        @RiskLevel  NVARCHAR(10),
        @IsFraud    BIT = 0;

    -- ── Sum all alert scores for this transaction ─────────────────
    SELECT @TotalScore = ISNULL(SUM(Alert_Score), 0)
    FROM   Fraud_Alert
    WHERE  Trans_ID = @TransID;

    -- ── Determine risk level ──────────────────────────────────────
    IF @TotalScore < 30
        SET @RiskLevel = 'LOW';

    ELSE IF @TotalScore < 60
        SET @RiskLevel = 'MEDIUM';

    ELSE IF @TotalScore < 80
    BEGIN
        SET @RiskLevel = 'HIGH';
        SET @IsFraud   = 1;
    END

    ELSE
    BEGIN
        SET @RiskLevel = 'CRITICAL';
        SET @IsFraud   = 1;
    END

    -- ── Insert fraud assessment ───────────────────────────────────
    IF NOT EXISTS (SELECT 1 FROM Fraud_Assessment WHERE Trans_ID = @TransID)
    BEGIN
        INSERT INTO Fraud_Assessment (Trans_ID, Total_Score, Risk_Level, Is_Fraud,ML_Model)
        VALUES                       (@TransID, @TotalScore, @RiskLevel, @IsFraud,'sp_CalculateFraudScore');
    END
    ELSE
    BEGIN
        -- Re-running after new alerts fired — update the existing row.
        UPDATE Fraud_Assessment
        SET    Total_Score = @TotalScore,
               Risk_Level  = @RiskLevel,
               Is_Fraud    = @IsFraud,
               Assessed_At = GETDATE()
        WHERE  Trans_ID = @TransID;
    END

    -- ── Block fraudulent transactions ─────────────────────────────
    IF @IsFraud = 1
    BEGIN
        UPDATE Transactions_Header
        SET    Trans_Status = 'Reversed'
        WHERE  Trans_ID = @TransID;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Deposit]    Script Date: 5/15/2026 5:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ══════════════════════════════════════════════════════════════════════════════
-- 1. sp_Deposit
-- ══════════════════════════════════════════════════════════════════════════════
CREATE   PROCEDURE [dbo].[sp_Deposit]
    @AccID      INT,
    @Amount     DECIMAL(18,2),
    @Channel    NVARCHAR(20)  = 'ATM',
    @DeviceID   NVARCHAR(100) = NULL,
    @IPAddress  NVARCHAR(45)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @TransID   INT;
    DECLARE @AccStatus NVARCHAR(50);

    BEGIN TRANSACTION;
    BEGIN TRY

        -- ── 1. Validate amount ────────────────────────────────────────────────
        IF @Amount <= 0
        BEGIN
            RAISERROR('Amount must be greater than zero.', 16, 1);
            RETURN;
        END

        -- ── 2. Validate channel ───────────────────────────────────────────────
        IF @Channel NOT IN ('ATM', 'APP', 'POS', 'WEB', 'API')
        BEGIN
            RAISERROR('Invalid channel. Must be ATM, APP, POS, WEB, or API.', 16, 1);
            RETURN;
        END

        -- ── 3. Validate account ───────────────────────────────────────────────
        SELECT @AccStatus = Acc_status
        FROM   dbo.Account
        WHERE  Acc_ID = @AccID;

        IF @AccStatus IS NULL
        BEGIN
            RAISERROR('Account not found.', 16, 1);
            RETURN;
        END
        IF @AccStatus != 'Active'
        BEGIN
            PRINT CONCAT('Account status is: [', @AccStatus, '] — expected [Active]');
            RAISERROR('Account is not Active.', 16, 1);
            RETURN;
        END

        -- ── 4. Update balance ─────────────────────────────────────────────────
        UPDATE dbo.Account
        SET    Balance = Balance + @Amount
        WHERE  Acc_ID  = @AccID;

        -- ── 5. Transaction header ─────────────────────────────────────────────
        INSERT INTO dbo.Transactions_Header (Trans_Type, Trans_Status, Card_Attempt_ID)
        VALUES                              ('DEPOSIT',  'Completed',  NULL);
        SET @TransID = SCOPE_IDENTITY();

        -- ── 6. Transaction entry ──────────────────────────────────────────────
        INSERT INTO dbo.Transaction_Entry (Trans_ID, Acc_ID, Entry_Type, Amount)
        VALUES                            (@TransID, @AccID, 'CREDIT',   @Amount);

        -- ── 7. Audit ──────────────────────────────────────────────────────────
        INSERT INTO dbo.Transactions_Audit (Trans_ID, Channel,  IP_Address, Device_ID)
        VALUES                             (@TransID, @Channel, @IPAddress, @DeviceID);

        COMMIT TRANSACTION;
        PRINT CONCAT('✔ Deposit completed | Acc_ID: ',  @AccID,
                     ' | Amount: ',   @Amount,
                     ' | Trans_ID: ', @TransID);
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT CONCAT('✘ Deposit failed: ', ERROR_MESSAGE());
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OnlinePurchase_card]    Script Date: 5/15/2026 5:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OnlinePurchase_card]
    @CustomerCardID  INT,
    @MerchantID      INT,        -- Merchants.Owner_ID
    @Amount          DECIMAL(18,2),
    @Channel         VARCHAR(50) = 'Web',
    @IPAddress       VARCHAR(45) = NULL,
    @DeviceID        INT         = NULL,
    @TransLoc        VARCHAR(100)= NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- ── 1. Fetch & validate card ───────────────────────────────────────
        DECLARE @CardAccID   INT,
                @CardBlocked BIT,
                @AvailLimit  DECIMAL(18,2),
                @ExpiryDate  DATE;

        SELECT  @CardAccID   = c.Acc_ID,
                @CardBlocked = c.Is_Blocked,
                @AvailLimit  = c.Available_Limit,
                @ExpiryDate  = c.Expiry_Date
        FROM    Card c
        WHERE   c.Card_ID = @CustomerCardID;

        IF @CardAccID IS NULL
            THROW 50001, 'Card not found.', 1;

        IF @CardBlocked = 1
            THROW 50002, 'Card is blocked.', 1;

        IF @ExpiryDate < CAST(GETDATE() AS DATE)
            THROW 50003, 'Card has expired.', 1;

        -- ── 2. Fetch customer account & check balance ──────────────────────
        DECLARE @CustBalance DECIMAL(18,2),
                @CustAccStatus VARCHAR(20);

        SELECT  @CustBalance   = Balance,
                @CustAccStatus = Acc_status
        FROM    Account
        WHERE   Acc_ID = @CardAccID;

        IF @CustAccStatus <> 'Active'
            THROW 50004, 'Customer account is not active.', 1;

        IF @CustBalance < @Amount
            THROW 50005, 'Insufficient balance.', 1;

        -- ── 3. Fetch merchant account ──────────────────────────────────────
        DECLARE @MerchAccID INT;

        SELECT  @MerchAccID = Acc_ID
        FROM    Account
        WHERE   Owner_ID  = @MerchantID
          AND   Acc_status = 'Active';

        IF @MerchAccID IS NULL
            THROW 50006, 'Active merchant account not found.', 1;

        -- ── 4. Debit customer account ──────────────────────────────────────
        UPDATE Account
        SET    Balance         = Balance         - @Amount
        WHERE  Acc_ID = @CardAccID;

        UPDATE Card
        SET    Available_Limit = Available_Limit - @Amount
        WHERE  Card_ID = @CustomerCardID;

        -- ── 5. Credit merchant account ─────────────────────────────────────
        UPDATE Account
        SET    Balance = Balance + @Amount
        WHERE  Acc_ID = @MerchAccID;

        -- ── 6. Create transaction header ───────────────────────────────────
        DECLARE @TransID INT;

        INSERT INTO Transactions_Header
               (Trans_Type, Trans_Status, Card_Attempt_ID, Trans_DateTime)
        VALUES ('Purchase', 'Completed', NULL, GETDATE() );

        SET @TransID = SCOPE_IDENTITY();

        -- ── 7. Double-entry: Debit row (customer) + Credit row (merchant) ──
        INSERT INTO Transaction_Entry (Trans_ID, Acc_ID, Entry_Type, Amount)
        VALUES (@TransID, @CardAccID,  'Debit',  @Amount),
               (@TransID, @MerchAccID, 'Credit', @Amount);

        -- ── 8. Audit trail ─────────────────────────────────────────────────
        INSERT INTO Transactions_Audit
               (Trans_ID, Channel, Trans_Loc, IP_Address, Device_ID, Created_At)
        VALUES (@TransID, @Channel, @TransLoc, @IPAddress, @DeviceID, GETDATE());

        COMMIT TRANSACTION;

        -- ── Return summary ─────────────────────────────────────────────────
        SELECT  @TransID            AS Trans_ID,
                'Purchase completed' AS Message,
                @Amount             AS Amount,
                ca.Balance          AS Customer_New_Balance,
                ma.Balance          AS Merchant_New_Balance
        FROM    Account ca
        CROSS JOIN Account ma
        WHERE   ca.Acc_ID = @CardAccID
          AND   ma.Acc_ID = @MerchAccID;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OnlinePurchaseByLogin]    Script Date: 5/15/2026 5:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_OnlinePurchaseByLogin]
    @Username       VARCHAR(100),
    @PasswordHash   VARCHAR(256),   -- pass the hashed password from your app
    @MerchantID     INT,            -- Merchants.Owner_ID
    @Amount         DECIMAL(18,2),
    @Channel        VARCHAR(50)  = 'Web',
    @IPAddress      VARCHAR(45)  = NULL,
    @DeviceID       INT          = NULL,
    @TransLoc       VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- ── 1. Authenticate user (username + password) ─────────────────────
        DECLARE @CustomerID  INT,
                @IsActive    BIT,
                @LoginID     INT;

        SELECT  @LoginID    = Login_ID,
                @CustomerID = Customer_ID,
                @IsActive   = Is_Active
        FROM    User_Login
        WHERE   Username      = @Username
          AND   Password_Hash = @PasswordHash;

        IF @LoginID IS NULL
            THROW 50010, 'Invalid username or password.', 1;

        IF @IsActive = 0
            THROW 50011, 'User account is inactive.', 1;

        -- ── 2. Log the login attempt ───────────────────────────────────────
        INSERT INTO Login_Attempt (Login_ID, Attempt_Time, Is_Success, Device_ID)
        VALUES (@LoginID, GETDATE(), 1, @DeviceID);

        -- ── 3. Fetch customer primary account ─────────────────────────────
        DECLARE @CustAccID     INT,
                @CustBalance   DECIMAL(18,2),
                @CustAccStatus VARCHAR(20);

        SELECT  TOP 1
                @CustAccID     = Acc_ID,
                @CustBalance   = Balance,
                @CustAccStatus = Acc_status
        FROM    Account
        WHERE   Owner_ID = @CustomerID
          AND   Acc_status = 'Active'
        ORDER BY Created_At ASC;   -- oldest = primary account

        IF @CustAccID IS NULL
            THROW 50012, 'No active account found for this customer.', 1;

        IF @CustBalance < @Amount
            THROW 50013, 'Insufficient balance.', 1;

        -- ── 4. Fetch merchant account ──────────────────────────────────────
        DECLARE @MerchAccID INT;

        SELECT  @MerchAccID = Acc_ID
        FROM    Account
        WHERE   Owner_ID   = @MerchantID
          AND   Acc_status = 'Active';

        IF @MerchAccID IS NULL
            THROW 50014, 'Active merchant account not found.', 1;

        -- ── 5. Debit customer ──────────────────────────────────────────────
        UPDATE Account
        SET    Balance = Balance - @Amount
        WHERE  Acc_ID  = @CustAccID;

        -- ── 6. Credit merchant ─────────────────────────────────────────────
        UPDATE Account
        SET    Balance = Balance + @Amount
        WHERE  Acc_ID  = @MerchAccID;

        -- ── 7. Transaction header ──────────────────────────────────────────
        DECLARE @TransID INT;

        INSERT INTO Transactions_Header
               (Trans_Type, Trans_Status, Card_Attempt_ID, Trans_DateTime)
        VALUES ('Purchase', 'Completed', NULL, GETDATE() );

        SET @TransID = SCOPE_IDENTITY();

        -- ── 8. Double-entry rows ───────────────────────────────────────────
        INSERT INTO Transaction_Entry (Trans_ID, Acc_ID, Entry_Type, Amount)
        VALUES (@TransID, @CustAccID,  'Debit',  @Amount),
               (@TransID, @MerchAccID, 'Credit', @Amount);

        -- ── 9. Audit trail ─────────────────────────────────────────────────
        INSERT INTO Transactions_Audit
               (Trans_ID, Channel, Trans_Loc, IP_Address, Device_ID, Created_At)
        VALUES (@TransID, @Channel, @TransLoc, @IPAddress, @DeviceID, GETDATE());

        COMMIT TRANSACTION;

        -- ── Return summary ─────────────────────────────────────────────────
        SELECT  @TransID             AS Trans_ID,
                'Purchase completed'  AS Message,
                @Amount              AS Amount,
                ca.Balance           AS Customer_New_Balance,
                ma.Balance           AS Merchant_New_Balance
        FROM    Account ca
        CROSS JOIN Account ma
        WHERE   ca.Acc_ID = @CustAccID
          AND   ma.Acc_ID = @MerchAccID;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        -- Log failed attempt if login was resolved but transaction failed
        IF @LoginID IS NOT NULL
            INSERT INTO Login_Attempt (Login_ID, Attempt_Time, Is_Success, Device_ID)
            VALUES (@LoginID, GETDATE(), 0, @DeviceID);

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RunFraudChecks]    Script Date: 5/15/2026 5:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ══════════════════════════════════════════════════════════════════
-- STEP 2 — PROCEDURE  sp_RunFraudChecks
-- ══════════════════════════════════════════════════════════════════
CREATE   PROCEDURE [dbo].[sp_RunFraudChecks]
    @TransID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ── Working variables ─────────────────────────────────────────
    DECLARE
        @AccID           INT,
        @Amount          DECIMAL(18,2),
        @DeviceID        NVARCHAR(100),
        @TransType       NVARCHAR(50),
        @TransDateTime   DATETIME2,
        @TransHour       TINYINT,
        @TxnCount        INT,
        @DeviceAccCount  INT,
        @RuleID          INT,
        @RuleScore       DECIMAL(5,2),
        @RuleThreshold   DECIMAL(18,2);

    -- ── 1. Pull transaction data from the correct tables ──────────
    
    SELECT TOP 1
        @AccID  = te.Acc_ID,
        @Amount = te.Amount
    FROM Transaction_Entry te
    WHERE te.Trans_ID = @TransID
    ORDER BY CASE te.Entry_Type WHEN 'DEBIT' THEN 0 ELSE 1 END;

    SELECT
        @TransDateTime = Trans_DateTime,
        @TransType     = Trans_Type
    FROM Transactions_Header
    WHERE Trans_ID = @TransID;

    SELECT @DeviceID = Device_ID
    FROM   Transactions_Audit
    WHERE  Trans_ID = @TransID;

    SET @TransHour = DATEPART(HOUR, @TransDateTime);

    -- RULE 1 — HIGH_AMOUNT
    -- Fires when the transaction amount exceeds the rule threshold.

    SELECT @RuleID = Rule_ID, @RuleScore = Rule_Score, @RuleThreshold = Threshold
    FROM   Transaction_Rules
    WHERE  Rule_Name = 'HIGH_AMOUNT';

    IF @Amount > @RuleThreshold
        AND NOT EXISTS (
            SELECT 1 FROM Fraud_Alert
            WHERE Trans_ID = @TransID AND Rule_ID = @RuleID
        )
    BEGIN
        INSERT INTO Fraud_Alert (Trans_ID, Rule_ID, Alert_Score)
        VALUES                  (@TransID, @RuleID, @RuleScore);
    END;

    -- RULE 2 — VELOCITY_CHECK
    -- Fires when the same account has >= threshold transactions && within the last 60 seconds (including this one).
    
    SELECT @RuleID = Rule_ID, @RuleScore = Rule_Score, @RuleThreshold = Threshold
    FROM   Transaction_Rules
    WHERE  Rule_Name = 'VELOCITY_CHECK';

    SELECT @TxnCount = COUNT(DISTINCT th.Trans_ID)
    FROM   Transactions_Header th
    JOIN   Transaction_Entry   te ON te.Trans_ID = th.Trans_ID
    WHERE  te.Acc_ID = @AccID
      AND  DATEDIFF(SECOND, th.Trans_DateTime, @TransDateTime) BETWEEN 0 AND 60;

    IF @TxnCount >= @RuleThreshold
        AND NOT EXISTS (
            SELECT 1 FROM Fraud_Alert
            WHERE Trans_ID = @TransID AND Rule_ID = @RuleID
        )
    BEGIN
        INSERT INTO Fraud_Alert (Trans_ID, Rule_ID, Alert_Score)
        VALUES                  (@TransID, @RuleID, @RuleScore);
    END;

    -- RULE 3 — NEW_DEVICE
    -- Fires when the Device_ID seen in Transactions_Audit has never been associated with this account before.
    
    SELECT @RuleID = Rule_ID, @RuleScore = Rule_Score
    FROM   Transaction_Rules
    WHERE  Rule_Name = 'NEW_DEVICE';

    IF @DeviceID IS NOT NULL
        AND NOT EXISTS (
            SELECT 1
            FROM   Transactions_Audit  ta
            JOIN   Transactions_Header th  ON th.Trans_ID = ta.Trans_ID
            JOIN   Transaction_Entry   te  ON te.Trans_ID = th.Trans_ID
            WHERE  ta.Device_ID = @DeviceID
              AND  te.Acc_ID    = @AccID
              AND  th.Trans_ID <> @TransID   -- exclude the current transaction
        )
        AND NOT EXISTS (
            SELECT 1 FROM Fraud_Alert
            WHERE Trans_ID = @TransID AND Rule_ID = @RuleID
        )
    BEGIN
        INSERT INTO Fraud_Alert (Trans_ID, Rule_ID, Alert_Score)
        VALUES                  (@TransID, @RuleID, @RuleScore);
    END;

    -- RULE 4 — ODD_HOUR  (new)
    -- Fires when the transaction falls between 00:00 and 05:00 local

    SELECT @RuleID = Rule_ID, @RuleScore = Rule_Score
    FROM   Transaction_Rules
    WHERE  Rule_Name = 'ODD_HOUR';

    IF @TransHour BETWEEN 0 AND 5
        AND NOT EXISTS (
            SELECT 1 FROM Fraud_Alert
            WHERE Trans_ID = @TransID AND Rule_ID = @RuleID
        )
    BEGIN
        INSERT INTO Fraud_Alert (Trans_ID, Rule_ID, Alert_Score)
        VALUES                  (@TransID, @RuleID, @RuleScore);
    END;

    -- RULE 5 — MULTI_ACCOUNT_DEVICE  (new)
    -- Fires when the same Device_ID has been used to transact on more than N distinct accounts today. 
    -- A single device hitting many accounts is a strong mule/takeover signal.

    SELECT @RuleID = Rule_ID, @RuleScore = Rule_Score, @RuleThreshold = Threshold
    FROM   Transaction_Rules
    WHERE  Rule_Name = 'MULTI_ACCOUNT_DEVICE';

    IF @DeviceID IS NOT NULL
    BEGIN
        SELECT @DeviceAccCount = COUNT(DISTINCT te.Acc_ID)
        FROM   Transactions_Audit  ta
        JOIN   Transactions_Header th ON th.Trans_ID = ta.Trans_ID
        JOIN   Transaction_Entry   te ON te.Trans_ID = th.Trans_ID
        WHERE  ta.Device_ID        = @DeviceID
          AND  CAST(th.Trans_DateTime AS DATE) = CAST(@TransDateTime AS DATE);

        IF @DeviceAccCount > @RuleThreshold
            AND NOT EXISTS (
                SELECT 1 FROM Fraud_Alert
                WHERE Trans_ID = @TransID AND Rule_ID = @RuleID
            )
        BEGIN
            INSERT INTO Fraud_Alert (Trans_ID, Rule_ID, Alert_Score)
            VALUES                  (@TransID, @RuleID, @RuleScore);
        END;
    END;


    -- RULE 6 — RAPID_LOCATION_CHANGE  (new)
    -- Fires when this account had a transaction from a different IP address within the last 30 minutes. 
    -- Impossible travel / session hijack signal.

    SELECT @RuleID = Rule_ID, @RuleScore = Rule_Score
    FROM   Transaction_Rules
    WHERE  Rule_Name = 'RAPID_LOCATION_CHANGE';

    DECLARE @CurrentIP NVARCHAR(45);
    SELECT  @CurrentIP = IP_Address
    FROM    Transactions_Audit
    WHERE   Trans_ID = @TransID;

    IF @CurrentIP IS NOT NULL
        AND EXISTS (
            SELECT 1
            FROM   Transactions_Audit  ta
            JOIN   Transactions_Header th ON th.Trans_ID = ta.Trans_ID
            JOIN   Transaction_Entry   te ON te.Trans_ID = th.Trans_ID
            WHERE  te.Acc_ID              = @AccID
              AND  th.Trans_ID           <> @TransID
              AND  ta.IP_Address         <> @CurrentIP
              AND  ta.IP_Address          IS NOT NULL
              AND  DATEDIFF(MINUTE, th.Trans_DateTime, @TransDateTime) BETWEEN 0 AND 30
        )
        AND NOT EXISTS (
            SELECT 1 FROM Fraud_Alert
            WHERE Trans_ID = @TransID AND Rule_ID = @RuleID
        )
    BEGIN
        INSERT INTO Fraud_Alert (Trans_ID, Rule_ID, Alert_Score)
        VALUES                  (@TransID, @RuleID, @RuleScore);
    END;

    -- ── Final step: roll up all fired alerts into an assessment ───
    EXEC sp_CalculateFraudScore @TransID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RunRiskAssessment]    Script Date: 5/15/2026 5:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RunRiskAssessment]
    @AppID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ── Working variables ──────────────────────────────────────────────────────
    DECLARE
        @CustomerID          INT,
        @Income              DECIMAL(18,2),
        @Liability           DECIMAL(18,2),
        @EmploymentStatus    NVARCHAR(50),
        @YearsExperience     SMALLINT,
        @HomeOwnership       VARCHAR(20),
        @RequestedAmount     DECIMAL(18,2),
        @NoOfMonths          SMALLINT,
        @LatePayments        INT,
        @MissedPayments      INT,
        @AvgDelayDays        DECIMAL(6,2),
        @DTI                 DECIMAL(10,4),
        @MonthlyInstallment  DECIMAL(18,2),
        @DisposableIncome    DECIMAL(18,2),
        @PDI                 DECIMAL(10,4),
        @CreditUtilization   DECIMAL(10,4),
        @RiskScore           DECIMAL(5,2),
        @AssessID            INT,
        @AppStatus           NVARCHAR(30),
        -- ── New features ───────────────────────────────────────────────────────
        @Gender              NVARCHAR(10),
        @EducationLevel      NVARCHAR(50),
        @FamilyMembers       SMALLINT,
        @FamilyStatus        NVARCHAR(30),
        @FlagOwnCar          VARCHAR(1),
        @DOB                 DATE,
        @Age                 SMALLINT;

    -- ── 1. Fetch application + customer data ───────────────────────────────────
    SELECT
        @CustomerID       = LA.Customer_ID,
        @RequestedAmount  = LA.Requested_Amount,
        @NoOfMonths       = LA.No_Of_Months,
        @Income           = C.Monthly_Income,
        @Liability        = C.Monthly_Liability,
        @EmploymentStatus = C.Employment_Status,
        @YearsExperience  = C.Year_Of_Experience,
        @HomeOwnership    = C.Home_Ownership,
        -- ── New ────────────────────────────────────────────────────────────────
        @Gender           = C.Gender,
        @EducationLevel   = C.Education_Level,
        @FamilyMembers    = C.Family_Members,
        @FamilyStatus     = C.Family_Status,
        @FlagOwnCar       = C.FLAG_OWN_CAR,
        @DOB              = C.DOB
    FROM  Loan_Application LA
    JOIN  Customer C ON C.Owner_ID = LA.Customer_ID
    WHERE LA.App_ID = @AppID;

    IF @CustomerID IS NULL
    BEGIN
        RAISERROR('Loan application not found.', 16, 1);
        RETURN;
    END

    -- Guard: only assess Pending applications
    IF NOT EXISTS (
        SELECT 1 FROM Loan_Application
        WHERE App_ID = @AppID AND App_status = 'Pending'
    )
    BEGIN
        RAISERROR('Application is not in Pending status. It is Rejected or Approved.', 16, 1);
        RETURN;
    END

    -- ── Derive Age from DOB ────────────────────────────────────────────────────
    SET @Age = CASE
        WHEN @DOB IS NULL THEN NULL
        ELSE DATEDIFF(YEAR, @DOB, GETDATE())
           - CASE WHEN MONTH(@DOB) > MONTH(GETDATE())
                   OR (MONTH(@DOB) = MONTH(GETDATE()) AND DAY(@DOB) > DAY(GETDATE()))
                  THEN 1 ELSE 0 END
    END;

    -- ── 2. Fetch financial history ─────────────────────────────────────────────
    SELECT
        @LatePayments   = Late_Payment_Count,
        @MissedPayments = Missed_Payment_Count,
        @AvgDelayDays   = Avg_Payment_Delay_Days
    FROM Financial_History
    WHERE Customer_ID = @CustomerID;

    SET @LatePayments   = ISNULL(@LatePayments,   0);
    SET @MissedPayments = ISNULL(@MissedPayments,  0);
    SET @AvgDelayDays   = ISNULL(@AvgDelayDays,    0);

    -- ── 3. Credit utilization ──────────────────────────────────────────────────
    SELECT @CreditUtilization =
        AVG(
            CAST(CA.Credit_Limit - CA.Available_Limit AS DECIMAL(18,2))
            / CAST(CA.Credit_Limit AS DECIMAL(18,2))
        )
    FROM   Card    CA
    JOIN   Account A ON A.Acc_ID = CA.Acc_ID
    WHERE  A.Owner_ID      = @CustomerID
      AND  CA.Card_Type    = 'Credit'
      AND  CA.Credit_Limit > 0
      AND  CA.Is_Blocked   = 0;

    -- ── 4. DTI & PDI ───────────────────────────────────────────────────────────
    SET @DTI = dbo.fn_CalculateDTI(@Liability, @Income);

    SET @MonthlyInstallment = (@RequestedAmount / NULLIF(@NoOfMonths, 0))
                            + (@RequestedAmount * 0.007);

    SET @DisposableIncome =
        CASE
            WHEN @Income IS NULL OR @Income = 0          THEN NULL
            WHEN @Income - ISNULL(@Liability, 0) <= 0    THEN NULL
            ELSE @Income - ISNULL(@Liability, 0)
        END;

    SET @PDI =
        CASE
            WHEN @DisposableIncome IS NULL THEN NULL
            ELSE @MonthlyInstallment / @DisposableIncome
        END;

    -- ══════════════════════════════════════════════════════════════════════════
    -- 5. SCORING — start at 100, apply penalties and bonuses
    -- ══════════════════════════════════════════════════════════════════════════
    SET @RiskScore = 100;

    -- ── 5a. DTI ───────────────────────────────────────────────────────────────
    IF @DTI IS NULL          SET @RiskScore -= 25;
    ELSE IF @DTI > 0.60      SET @RiskScore -= 35;
    ELSE IF @DTI > 0.50      SET @RiskScore -= 25;
    ELSE IF @DTI > 0.40      SET @RiskScore -= 15;
    ELSE IF @DTI > 0.30      SET @RiskScore -=  5;

    -- ── 5b. Employment status ─────────────────────────────────────────────────
    IF @EmploymentStatus IS NULL           SET @RiskScore -= 20;
    ELSE IF @EmploymentStatus = 'Unemployed'    SET @RiskScore -= 30;
    ELSE IF @EmploymentStatus = 'Part-Time'     SET @RiskScore -= 15;
    ELSE IF @EmploymentStatus = 'Self-Employed' SET @RiskScore -= 10;
    ELSE IF @EmploymentStatus = 'Student'       SET @RiskScore -= 10;
    ELSE IF @EmploymentStatus = 'Retired'       SET @RiskScore -=  5;
    -- 'Full-Time' → no penalty

    -- ── 5c. Years of experience ───────────────────────────────────────────────
    IF @YearsExperience IS NULL      SET @RiskScore -=  5;
    ELSE IF @YearsExperience < 1     SET @RiskScore -= 10;
    ELSE IF @YearsExperience < 3     SET @RiskScore -=  5;
    -- ≥ 3 years → no penalty

    -- ── 5d. Home ownership ────────────────────────────────────────────────────
    IF @HomeOwnership = 'Owned'                SET @RiskScore +=  5;
    ELSE IF @HomeOwnership = 'Rented'          SET @RiskScore +=  0;  -- neutral
    ELSE IF @HomeOwnership = 'Living with Parents' SET @RiskScore -=  5;
    ELSE IF @HomeOwnership = 'Provided by Emp' SET @RiskScore -=  5;

    -- ── 5e. Late & missed payments ────────────────────────────────────────────
    SET @RiskScore -= (@LatePayments   *  5);
    SET @RiskScore -= (@MissedPayments * 10);

    -- ── 5f. Average payment delay ─────────────────────────────────────────────
    IF @AvgDelayDays > 60       SET @RiskScore -= 15;
    ELSE IF @AvgDelayDays > 30  SET @RiskScore -= 10;
    ELSE IF @AvgDelayDays > 15  SET @RiskScore -=  5;

    -- ── 5g. Credit utilization ────────────────────────────────────────────────
    IF @CreditUtilization IS NULL          SET @RiskScore +=  0;  -- neutral
    ELSE IF @CreditUtilization > 0.90      SET @RiskScore -= 25;
    ELSE IF @CreditUtilization > 0.70      SET @RiskScore -= 15;
    ELSE IF @CreditUtilization > 0.50      SET @RiskScore -= 10;
    ELSE IF @CreditUtilization > 0.30      SET @RiskScore -=  5;
    ELSE                                   SET @RiskScore +=  5;  -- ≤ 30% bonus

    -- ── 5h. PDI ───────────────────────────────────────────────────────────────
    IF @PDI IS NULL          SET @RiskScore -= 30;
    ELSE IF @PDI > 0.70      SET @RiskScore -= 25;
    ELSE IF @PDI > 0.50      SET @RiskScore -= 15;
    ELSE IF @PDI > 0.30      SET @RiskScore -=  5;
    ELSE                     SET @RiskScore +=  5;  -- ≤ 30% bonus

    -- ── 5i. Loan term ─────────────────────────────────────────────────────────
    IF @NoOfMonths > 84          SET @RiskScore -= 10;
    ELSE IF @NoOfMonths > 60     SET @RiskScore -=  5;

    -- ══════════════════════════════════════════════════════════════════════════
    -- NEW FEATURES
    -- ══════════════════════════════════════════════════════════════════════════

    -- ── 5j. Education level ───────────────────────────────────────────────────
    -- Higher education correlates with income stability and financial literacy.
    IF @EducationLevel IS NULL                  SET @RiskScore -=  5;
    ELSE IF @EducationLevel = 'PhD'             SET @RiskScore +=  8;
    ELSE IF @EducationLevel = 'Master'          SET @RiskScore +=  5;
    ELSE IF @EducationLevel = 'Bachelor'        SET @RiskScore +=  3;
    ELSE IF @EducationLevel = 'High School'     SET @RiskScore +=  0;  -- neutral
    ELSE IF @EducationLevel = 'Middle School'   SET @RiskScore -=  3;
    ELSE IF @EducationLevel = 'Primary School'  SET @RiskScore -=  5;
    -- Any other unknown value → no change

    -- ── 5k. Age (derived from DOB) ────────────────────────────────────────────
    -- Very young borrowers have short credit history and less income stability.
    -- Very old borrowers carry higher actuarial risk on long-term loans.
    IF @Age IS NULL          SET @RiskScore -=  5;  -- unknown age: mild penalty
    ELSE IF @Age < 21        SET @RiskScore -= 10;  -- very young, high uncertainty
    ELSE IF @Age < 25        SET @RiskScore -=  5;  -- early career
    ELSE IF @Age <= 45       SET @RiskScore +=  5;  -- prime earning years: bonus
    ELSE IF @Age <= 60       SET @RiskScore +=  0;  -- neutral
    ELSE IF @Age <= 70       SET @RiskScore -=  5;  -- approaching/in retirement
    ELSE                     SET @RiskScore -= 10;  -- advanced age on long-term loan

    -- ── 5l. Car ownership ─────────────────────────────────────────────────────
    -- Owning a car is a tangible asset and signals financial stability.
    IF @FlagOwnCar = 'Y'       SET @RiskScore +=  4;  -- small asset ownership bonus

    -- ── 5m. Clamp to [0, 100] ─────────────────────────────────────────────────
    IF @RiskScore > 100 SET @RiskScore = 100;
    IF @RiskScore < 0   SET @RiskScore = 0;

    -- ── 6. Determine application status ───────────────────────────────────────
    IF @RiskScore >= 70
        SET @AppStatus = 'Approved';
    ELSE IF @RiskScore >= 50
        SET @AppStatus = 'Pending';
    ELSE
        SET @AppStatus = 'Rejected';

    -- ── 7. Insert into Risk_Assessment ────────────────────────────────────────
    INSERT INTO Risk_Assessment (Total_Score, Assessed_At, ML_Model)
    VALUES                      (@RiskScore,  GETDATE(),   'RULE_BASED_V1');

    SET @AssessID = SCOPE_IDENTITY();

    -- ── 8. Link Assessment_ID + update App_status ─────────────────────────────
    UPDATE Loan_Application
    SET Assessment_ID = @AssessID,
        App_status    = @AppStatus
    WHERE App_ID = @AppID;

    PRINT CONCAT('Risk assessment complete. Score: ', @RiskScore,
                 ' | Status: ', @AppStatus);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TransferMoney]    Script Date: 5/15/2026 5:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ══════════════════════════════════════════════════════════════════════════════
-- 3. sp_TransferMoney
-- ══════════════════════════════════════════════════════════════════════════════
CREATE   PROCEDURE [dbo].[sp_TransferMoney]
    @FromAccID  INT,
    @ToAccID    INT,
    @Amount     DECIMAL(18,2),
    @Channel    NVARCHAR(20)  = 'APP',
    @DeviceID   NVARCHAR(100) = NULL,
    @IPAddress  NVARCHAR(45)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @TransID       INT;
    DECLARE @FromStatus    NVARCHAR(50);
    DECLARE @ToStatus      NVARCHAR(50);
    DECLARE @FromBalance   DECIMAL(18,2);

    BEGIN TRANSACTION;
    BEGIN TRY

        -- ── 1. Validate amount ────────────────────────────────────────────────
        IF @Amount <= 0
        BEGIN
            RAISERROR('Amount must be greater than zero.', 16, 1);
            RETURN;
        END

        -- ── 2. Cannot transfer to same account ────────────────────────────────
        IF @FromAccID = @ToAccID
        BEGIN
            RAISERROR('Source and destination accounts must be different.', 16, 1);
            RETURN;
        END

        -- ── 3. Validate channel ───────────────────────────────────────────────
        IF @Channel NOT IN ('ATM', 'APP', 'POS', 'WEB', 'API')
        BEGIN
            RAISERROR('Invalid channel. Must be ATM, APP, POS, WEB, or API.', 16, 1);
            RETURN;
        END

        -- ── 4. Validate source account ────────────────────────────────────────
        SELECT @FromStatus  = Acc_status,
               @FromBalance = Balance
        FROM   dbo.Account
        WHERE  Acc_ID = @FromAccID;

        IF @FromStatus IS NULL
        BEGIN
            RAISERROR('Source account not found.', 16, 1);
            RETURN;
        END
        IF @FromStatus != 'Active'
        BEGIN
            PRINT CONCAT('Source account status: [', @FromStatus, ']');
            RAISERROR('Source account is not Active.', 16, 1);
            RETURN;
        END

        -- ── 5. Validate sufficient balance ────────────────────────────────────
        IF @FromBalance < @Amount
        BEGIN
            PRINT CONCAT('Insufficient balance. Available: ', @FromBalance,
                         ' | Requested: ', @Amount);
            RAISERROR('Insufficient balance in source account.', 16, 1);
            RETURN;
        END

        -- ── 6. Validate destination account ───────────────────────────────────
        SELECT @ToStatus = Acc_status
        FROM   dbo.Account
        WHERE  Acc_ID = @ToAccID;

        IF @ToStatus IS NULL
        BEGIN
            RAISERROR('Destination account not found.', 16, 1);
            RETURN;
        END
        IF @ToStatus != 'Active'
        BEGIN
            PRINT CONCAT('Destination account status: [', @ToStatus, ']');
            RAISERROR('Destination account is not Active.', 16, 1);
            RETURN;
        END

        -- ── 7. Debit source, credit destination ───────────────────────────────
        UPDATE dbo.Account
        SET    Balance = Balance - @Amount
        WHERE  Acc_ID  = @FromAccID;

        UPDATE dbo.Account
        SET    Balance = Balance + @Amount
        WHERE  Acc_ID  = @ToAccID;

        -- ── 8. Single transaction header for the transfer ─────────────────────
        INSERT INTO dbo.Transactions_Header (Trans_Type,   Trans_Status, Card_Attempt_ID)
        VALUES                              ('TRANSFER',   'Completed',  NULL);
        SET @TransID = SCOPE_IDENTITY();

        -- ── 9. Two entries: DEBIT sender, CREDIT receiver ─────────────────────
        INSERT INTO dbo.Transaction_Entry (Trans_ID, Acc_ID,      Entry_Type, Amount)
        VALUES                            (@TransID, @FromAccID,  'DEBIT',    @Amount),
                                          (@TransID, @ToAccID,    'CREDIT',   @Amount);

        -- ── 10. Audit ─────────────────────────────────────────────────────────
        INSERT INTO dbo.Transactions_Audit (Trans_ID, Channel,  IP_Address, Device_ID)
        VALUES                             (@TransID, @Channel, @IPAddress, @DeviceID);

        COMMIT TRANSACTION;
        PRINT CONCAT('✔ Transfer completed | From: ', @FromAccID,
                     ' → To: ',        @ToAccID,
                     ' | Amount: ',    @Amount,
                     ' | Trans_ID: ', @TransID);
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT CONCAT('✘ Transfer failed: ', ERROR_MESSAGE());
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 5/15/2026 5:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ──────────────────────────────────────────────────────────────────
-- User Login Procedure  (fixed)
--
-- This procedure:
-- checks username/password
-- inserts login attempt
-- increments failed attempts
-- locks account after 3 failures
-- resets failed attempts after success
-- ──────────────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_UserLogin]
    @Username    NVARCHAR(100),
    @PasswordHash NVARCHAR(256),
    @DeviceID    NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @LoginID      INT,
        @StoredHash   NVARCHAR(256),
        @IsActive     BIT,
        @FailedCount  INT;

    -- ── 1. Fetch user record ───────────────────────────────────────
    SELECT
        @LoginID    = login_ID,
        @StoredHash = Password_Hash,
        @IsActive   = Is_Active
    FROM User_Login
    WHERE Username = @Username;

    -- ── 2. User not found ─────────────────────────────────────────
    IF @LoginID IS NULL
    BEGIN
        PRINT 'Invalid username.';
        RETURN;
    END

    -- ── 3. Account is locked (Is_Active = 0) ──────────────────────
    IF @IsActive = 0
    BEGIN
        PRINT 'Account is locked. Please contact support.';
        RETURN;
    END

    -- ── 4. Wrong password ─────────────────────────────────────────
    IF @StoredHash <> @PasswordHash
    BEGIN
        -- Record the failed attempt
        INSERT INTO Login_Attempt (login_ID, Attempt_Time, Device_ID, Is_Success)
        VALUES (@LoginID, GETDATE(), @DeviceID, 0);

        -- Count consecutive failures since the last successful login.
        DECLARE @LastSuccessTime DATETIME2;

        SELECT @LastSuccessTime = MAX(Attempt_Time)
        FROM Login_Attempt
        WHERE login_ID   = @LoginID
          AND Is_Success = 1;

        SELECT @FailedCount = COUNT(*)
        FROM Login_Attempt
        WHERE login_ID   = @LoginID
          AND Is_Success = 0
          AND (
                @LastSuccessTime IS NULL                  -- never logged in successfully
                OR Attempt_Time > @LastSuccessTime        -- failure is after last success
              );

        -- Lock account after 3 failures within the window
        IF @FailedCount >= 3
        BEGIN
            UPDATE User_Login
            SET Is_Active = 0          -- 0 = locked  (Is_Active, not lock_status)
            WHERE login_ID = @LoginID;

            PRINT 'Too many failed attempts. Account is now locked.';
            RETURN;
        END

        PRINT 'Wrong password.';
        RETURN;
    END

    -- ── 5. Successful login ───────────────────────────────────────
    UPDATE User_Login
    SET Last_Login = GETDATE()
    WHERE login_ID = @LoginID;

    -- Record the successful attempt
    INSERT INTO Login_Attempt (login_ID, Attempt_Time, Device_ID, Is_Success)
    VALUES (@LoginID, GETDATE(), @DeviceID, 1);

    PRINT 'Login successful.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Withdraw]    Script Date: 5/15/2026 5:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ══════════════════════════════════════════════════════════════════════════════
-- 2. sp_Withdrawal
-- ══════════════════════════════════════════════════════════════════════════════
CREATE   PROCEDURE [dbo].[sp_Withdraw]
    @AccID      INT,
    @Amount     DECIMAL(18,2),
    @Channel    NVARCHAR(20)  = 'ATM',
    @DeviceID   NVARCHAR(100) = NULL,
    @IPAddress  NVARCHAR(45)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @TransID   INT;
    DECLARE @AccStatus NVARCHAR(50);
    DECLARE @Balance   DECIMAL(18,2);

    BEGIN TRANSACTION;
    BEGIN TRY

        -- ── 1. Validate amount ────────────────────────────────────────────────
        IF @Amount <= 0
        BEGIN
            RAISERROR('Amount must be greater than zero.', 16, 1);
            RETURN;
        END

        -- ── 2. Validate channel ───────────────────────────────────────────────
        IF @Channel NOT IN ('ATM', 'APP', 'POS', 'WEB', 'API')
        BEGIN
            RAISERROR('Invalid channel. Must be ATM, APP, POS, WEB, or API.', 16, 1);
            RETURN;
        END

        -- ── 3. Validate account & fetch balance ───────────────────────────────
        SELECT @AccStatus = Acc_status,
               @Balance   = Balance
        FROM   dbo.Account
        WHERE  Acc_ID = @AccID;

        IF @AccStatus IS NULL
        BEGIN
            RAISERROR('Account not found.', 16, 1);
            RETURN;
        END
        IF @AccStatus != 'Active'
        BEGIN
            PRINT CONCAT('Account status is: [', @AccStatus, '] — expected [Active]');
            RAISERROR('Account is not Active.', 16, 1);
            RETURN;
        END

        -- ── 4. Validate sufficient balance ────────────────────────────────────
        IF @Balance < @Amount
        BEGIN
            PRINT CONCAT('Insufficient balance. Available: ', @Balance,
                         ' | Requested: ', @Amount);
            RAISERROR('Insufficient balance.', 16, 1);
            RETURN;
        END

        -- ── 5. Deduct balance ─────────────────────────────────────────────────
        UPDATE dbo.Account
        SET    Balance = Balance - @Amount
        WHERE  Acc_ID  = @AccID;

        -- ── 6. Transaction header ─────────────────────────────────────────────
        INSERT INTO dbo.Transactions_Header (Trans_Type,    Trans_Status, Card_Attempt_ID)
        VALUES                              ('WITHDRAWAL',  'Completed',  NULL);
        SET @TransID = SCOPE_IDENTITY();

        -- ── 7. Transaction entry ──────────────────────────────────────────────
        INSERT INTO dbo.Transaction_Entry (Trans_ID, Acc_ID, Entry_Type, Amount)
        VALUES                            (@TransID, @AccID, 'DEBIT',    @Amount);

        -- ── 8. Audit ──────────────────────────────────────────────────────────
        INSERT INTO dbo.Transactions_Audit (Trans_ID, Channel,  IP_Address, Device_ID)
        VALUES                             (@TransID, @Channel, @IPAddress, @DeviceID);

        COMMIT TRANSACTION;
        PRINT CONCAT('✔ Withdrawal completed | Acc_ID: ', @AccID,
                     ' | Amount: ',    @Amount,
                     ' | Remaining balance: ', @Balance - @Amount,
                     ' | Trans_ID: ', @TransID);
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT CONCAT('✘ Withdrawal failed: ', ERROR_MESSAGE());
    END CATCH
END;
GO
USE [master]
GO
